@using SpecLab.Business
@using SpecLab.Business.BusinessEnum
@model SpecLab.FrontEnd.Models.SpecExport.SpecExportCreateModel

@{
    ViewBag.Title = "Tạo phiếu xuất";
}

@section style {
    @Styles.Render("~/Content/pages/spec_export.css")
    @Styles.Render("~/Content/pages/storage_select_LocationNum.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/pages/spec_export_create.js")
}

<script type="text/javascript">

    window.currentUser = "@Model.CurrentUser";
    window.exportDateDisplay = "@Model.ExportDateDisplay";
    window.exportId = "@Model.ExportId";
    window.warningThreshold = @CommonConstant.ExportWarningThreshold;
    window.userList = @SpecLab.FrontEnd.WebUtils.RenderJSON(@Model.UserList);
    window.statusAllowList = @SpecLab.FrontEnd.WebUtils.RenderJSON(@Model.StatusAllowList);
    window.hasRightOverride= @SpecLab.FrontEnd.WebUtils.RenderJSON(Model.HasRightOverride);

    window.createUrl = "@Url.Action("Create", "SpecExport")";
    window.ShowCreateUrl = "@Url.Action("ShowCreate", "SpecExport")";
    window.IncreateEX = "@Url.Action("IncreateEX", "SpecExport")";
    window.findTubeUrl = "@Url.Action("Search", "SpecControl")";
    window.printUrl = "@Url.Action("Print", "SpecExport")";
    window.countTubeExport = "@Url.Action("GetTubeExportCount", "SpecExport")";
</script>

<div id="mainContentDisplay" class="col-md-10" ng-app="myApp" ng-controller="SpecExportController">
    <!-- Chọn vị trí mẫu lưu -->
    <div class="modal modal-wide fade" id="dialogSelectLocationNum" tabindex="-1" role="dialog" aria-labelledby="dialogLabconnFindLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dialogLabconnFindLabel">KHAY LƯU MẪU</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseLabconnFind_ListResult">
                                        Chọn vị trí mẫu được lưu
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-curved">
                                            <thead id="theadstorage">
                                            </thead>
                                            <tbody id="tbodystorage"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseLabconnFind_ListResult">
                                        Ký hiệu màu trạng thái vị trí lưu
                                    </a>
                                </h4>
                            </div>
                            <div class="col-lg-12" style="margin: 10px;">
                                <div class="col-lg-1"><div class="circle2"><p class="centertext_in_Comment_Null_export">Trống</p></div></div>
                                @*<div class="col-lg-1"><div class="circle0"><p class="centertext_in_Comment">Mẫu tốt</p></div></div>*@
                                <div class="col-lg-1"><div class="circle1"><p class="centertext_in_Comment">Đang xuất</p></div></div>
                                <div class="col-lg-1"><div class="circle5"><p class="centertext_in_Comment">Trong kho</p></div></div>
                                <div class="col-lg-1"><div class="circle3"><p class="centertext_in_Comment">Hỏng</p></div></div>
                                <div class="col-lg-1"><div class="circle4"><p class="centertext_in_Comment">Hết</p></div></div>
                                <div class="col-lg-1"><div class="circle6"><p class="centertext_in_Comment">Quá lần</p></div></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Đóng</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal Find Tube to Export  -->
    <div class="modal modal-wide fade" id="dialogFindTubeToExport" tabindex="-1" role="dialog" aria-labelledby="dialogFindTubeToExportLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dialogFindTubeToExportLabel">Tìm mẫu để xuất</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="Div4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse_Info">
                                        Thông tin tìm kiếm
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_Info" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <form ng-submit="searchTube()">
                                        <div class="row">
                                            <div class="col-md-2"><label for="dialogFindTubeToExport_txtSearchSpecId">Mã bệnh phẩm</label></div>
                                            <div class="col-md-4"><input type="text" class="form-control" id="dialogFindTubeToExport_txtSearchSpecId" ng-model="findTubeCriteria.specId" maxlength="20" readonly="readonly" /></div>
                                            <div class="col-md-2"><label for="dialogFindTubeToExport_txtSearchTubeId">Mã số mẫu</label></div>
                                            <div class="col-md-4"><input type="text" class="form-control" id="dialogFindTubeToExport_txtSearchTubeId" ng-model="findTubeCriteria.tubeId" maxlength="20" /></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2"><label for="dialogFindTubeToExport_txtSearchStorageId">Mã lưu trữ</label></div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="dialogFindTubeToExport_txtSearchStorageId" ng-model="findTubeCriteria.storageId" maxlength="10" />
                                            </div>
                                            <div class="col-md-2"><label for="dialogFindTubeToExport_txtSearchLocationNum">Vị trí</label></div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="dialogFindTubeToExport_txtSearchLocationNum" ng-model="findTubeCriteria.locationNum" maxlength="10" aria-describedby="basic-addon1" />
                                                    <span class="input-group-addon" style="padding:0" id="basic-addon1">
                                                        <button data-dismiss="modal" style="border:0" ng-click="ViewCheckLocationNum(findTubeCriteria);"><i class="glyphicon glyphicon-search"></i></button>
                                                       
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="submitFindTubeList()" ng-show="findTubeList.length > 0">Thêm vào danh sách</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse_ListResult">
                                        Danh sách xuất
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_ListResult" class="panel-collapse collapse in">
                                <div class="panel-body table-responsive">
                                    <table class="table table-hover table-curved">
                                        <thead>
                                            <tr class="info">
                                                <th class="selectExportCol"> </th>
                                                <th>#</th>
                                                <th>Mã bệnh phẩm</th>
                                                <th>Mã số mẫu</th>
                                                <th>Tình trạng</th>
                                                <th>Thể tích</th>
                                                <th>Mã lưu trữ</th>
                                                <th>Vị trí</th>
                                                <th>Đã xuất</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="findTubeList.length == 0">
                                                <td colspan="8">
                                                    <h4 class="text-warning text-center">
                                                        Không có dữ liệu
                                                    </h4>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="tube in findTubeList">
                                                <td class="selectExportCol"><input type="checkbox" class="form-control" ng-model="tube.selected" /></td>
                                                <td>{{$index + 1}}</td>
                                                <td>{{tube.SpecId}}</td>
                                                <td>{{tube.TubeId}}</td>
                                                <td>{{tube.ConditionDisplay}}</td>
                                                <td>{{tube.VolumeDisplay}}</td>
                                                <td>{{tube.StorageId}}</td>
                                                <td>{{tube.LocationNum}}</td>
                                                <td>{{tube.NumberExport}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Đóng</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="panel-group" id="collapseSpecsContent">

        <div class="panel panel-danger" ng-show="showWarning()">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseSpecsContent_Warning">
                        Cảnh báo
                    </a>
                </h4>
            </div>
            <div id="collapseSpecsContent_Warning" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="validation-summary-errors">
                                <ul>
                                    <li ng-show="hasOverLimit()">Tồn tại mẫu đã xuất vượt ngưỡng cảnh báo ({{warningThreshold}} lần).</li>
                                    <li ng-show="hasOverLimit()">Yêu cầu phải có quyền @UserRightCode.R00502.ToString() để xuất mẫu vượt ngưỡng.</li>
                                    <li ng-show="tubeCountItem.NumberExport >= warningThreshold" ng-repeat="tubeCountItem in newExport.tubeList">
                                        Mẫu {{tubeCountItem.TubeId}} đã xuất {{tubeCountItem.NumberExport}} lần.
                                    </li>

                                    <li ng-show="tubeOutOfVolume.Volume <= 0" ng-repeat="tubeOutOfVolume in newExport.tubeList">
                                        Mẫu {{tubeOutOfVolume.TubeId}} đã hết. 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" ng-show="canSubmitExport()" ng-click="submitExport()">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseSpecsContent_Search">
                        Thông tin phiếu xuất
                    </a>
                </h4>
            </div>
            <div id="collapseSpecsContent_Search" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="validation-summary-errors">
                        <ul>
                            <li ng-show="newExport.importSuccessful">Tạo phiếu xuất {{newExport.exportId}} thành công.</li>
                            <li ng-show="newExport.errorEmptyExportReason">Vui lòng điền thông tin mục đích sử dụng.</li>
                            <li ng-show="newExport.errorEmptyExportToValue">Vui lòng chọn user người được xuất.</li>
                            <li ng-show="newExport.bussinessError != ''">{{newExport.bussinessError}}</li>
                        </ul>
                    </div>

                    <div class="row" style="margin-left: 10px;" ng-show="newExport.importSuccessful">
                        <a href="{{getPrintUrl(newExport.exportId)}}" class="btn btn-primary active" role="button" target="_blank">In phiếu</a>
                        @*<button type="button" class="btn btn-info" ng-click="refreshNewExport()">Tạo phiếu mới</button>*@
                    </div>

                    <div >@*ng-show="!newExport.importSuccessful"*@
                        <form role="form">

                            <div class="row">
                                <div class="col-md-2"><label for="dialogCreateExport_txtExportId">Mã xuất</label></div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="dialogCreateExport_txtExportId" ng-init="0" ng-model="newExport.exportId" value="{{newExport.exportId}}" maxlength="20" readonly="readonly" />
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" ng-click="showFindTubeToExport()">Kiếm mẫu</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label for="dialogCreateExport_txtNumberExport">Số lượng mẫu</label></div>
                                <div class="col-md-4"><input type="text" class="form-control" id="dialogCreateExport_txtNumberExport" value="{{newExport.tubeList.length}}" readonly="readonly" /></div>
                                <div class="col-md-2"><label for="dialogCreateExport_txtExportDate">Ngày xuất</label></div>
                                <div class="col-md-4"><input type="text" class="form-control" id="dialogCreateExport_txtExportDate" value="{{newExport.exportDate}}" readonly="readonly" /></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label for="dialogCreateExport_txtExportUser">Người xuất</label></div>
                                <div class="col-md-10"><input type="text" class="form-control" id="dialogCreateExport_txtExportUser" value="{{newExport.exportUser}}" readonly="readonly" /></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label for="dialogCreateExport_cmbExportTo">Xuất cho</label></div>
                                <div class="col-md-10">
                                    <select class="form-control" id="dialogCreateExport_cmbExportTo" ng-model="newExport.exportToValue" ng-options="obj.UserId as obj.DisplayName for obj in userList"></select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label for="dialogCreateExport_txtExporReason">Mục đích sử dụng</label></div>
                                <div class="col-md-10"><input type="text" class="form-control" id="dialogCreateExport_txtExporReason" ng-model="newExport.exportReason" value="{{newExport.exportReason}}" maxlength="50" /></div>
                            </div>

                            <button type="button" class="btn btn-primary" ng-click="refreshNewExport()">Tạo phiếu xuất</button>
                            <button type="button" class="btn btn-success" ng-show="canSubmitExport()" ng-click="submitExport()">Lưu phiếu xuất</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="!newExport.importSuccessful">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseSpecsContent_Result">
                        Danh sách xuất
                    </a>
                </h4>
            </div>
            <div id="collapseSpecsContent_Result" class="panel-collapse collapse in">
                <div class="panel-body table-responsive">
                    <table class="table table-hover table-curved">
                        <thead>
                            <tr class="info">
                                <th>#</th>
                                <th>Mã bệnh phẩm</th>
                                <th>Mã số mẫu</th>
                                <th>Tình trạng</th>
                                <th>Thể tích</th>
                                <th>Mã lưu trữ</th>
                                <th>Vị trí</th>
                                <th>Đã xuất</th>
                                <th>Hủy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="newExport.tubeList.length == 0">
                                <td colspan="8">
                                    <h4 class="text-warning text-center">
                                        Không có dữ liệu
                                    </h4>
                                </td>
                            </tr>
                            <tr ng-repeat="tube in newExport.tubeList">
                                <td>{{$index + 1}}</td>
                                <td>{{tube.SpecId}}</td>
                                <td>{{tube.TubeId}}</td>
                                <td>{{tube.ConditionDisplay}}</td>
                                <td>{{tube.VolumeDisplay}}</td>
                                <td>{{tube.StorageId}}</td>
                                <td>{{tube.LocationNum}}</td>
                                <td>{{tube.NumberExport}}</td>
                                <td class="columnAction">
                                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" ng-click="removeCreatedTubeItem(tube)">Hủy chọn</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>