@model SpecLab.FrontEnd.Models.SpecImport.SpecImportSearchModel

@{
    ViewBag.Title = "Nhập mẫu";
}

@section style {
    @Styles.Render("~/Content/pages/spec_import.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/pages/spec_import.js")
}
<script type="text/javascript">

    window.defaultSearchValue = {
        fromDate: "@Model.StartSearchDateString",
        toDate: "@Model.EndSearchDateString",
    };

    window.searchUrl = "@Url.Action("Search", "SpecImport")";
    window.detailUrl = "@Url.Action("Detail", "SpecImport")";
    window.printUrl = "@Url.Action("Print", "SpecImport")";
</script>

<div id="mainContentDisplay" class="col-md-10" ng-app="myApp" ng-controller="SpecsImportController">

    <!-- Modal Import Detail -->
    <div class="modal modal-wide fade" id="dialogImportDetail" tabindex="-1" role="dialog" aria-labelledby="dialogImportDetailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dialogImportDetailLabel">Chi tiết phiếu nhập</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="collapseHistoryContent">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseHistory_Info">
                                        Thông tin chung
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseHistory_Info" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-2"><label for="dialogImportDetail_txtImportId">Mã nhập</label></div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="dialogImportDetail_txtImportId" ng-model="selectedImport.ImportId" value="{{selectedImport.ImportId}}" readonly="readonly" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2"><label for="dialogImportDetail_txtNumberImport">Số lượng mẫu</label></div>
                                        <div class="col-md-4"><input type="text" class="form-control" id="dialogImportDetail_txtNumberImport" ng-model="selectedImport.NumberImport" value="{{selectedImport.NumberImport}}" readonly="readonly" /></div>
                                        <div class="col-md-2"><label for="dialogImportDetail_txtImportDate">Ngày nhập</label></div>
                                        <div class="col-md-4"><input type="text" class="form-control" id="dialogImportDetail_txtImportDate" ng-model="selectedImport.ImportDate" value="{{selectedImport.ImportDate}}" readonly="readonly" /></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2"><label for="dialogImportDetail_txtImportUser">Người nhập</label></div>
                                        <div class="col-md-10"><input type="text" class="form-control" id="dialogImportDetail_txtImportUser" ng-model="selectedImport.ImportUser" value="{{selectedImport.ImportUser}}" readonly="readonly" /></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseHistory_ListResult">
                                        Danh sách nhập
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseHistory_ListResult" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table table-hover table-curved">
                                        <thead>
                                            <tr class="info">
                                                <th>#</th>
                                                <th>Mã bệnh phẩm</th>
                                                <th>Mã ống</th>
                                                <!--<th>Tình trạng</th>-->
                                                <th>Thể tích</th>
                                                <th>Mã lưu trữ</th>
                                                <th>Vị trí</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="selectedImport.tubeList.length == 0">
                                                <td colspan="7">
                                                    <h4 class="text-warning text-center">
                                                        Không có dữ liệu
                                                    </h4>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="tube in selectedImport.TubeList">
                                                <td>{{$index + 1}}</td>
                                                <td>{{tube.SampleSpecId}}</td>
                                                <td>{{tube.TubeId}}</td>
                                                <!--<td>{{tube.ConditionDisplay}}</td>-->
                                                <td>{{tube.VolumeDisplay}}</td>
                                                <td>{{tube.StorageId}}</td>
                                                <td>{{tube.LocationNum}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Đóng</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="panel-group" id="collapseSpecsContent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseSpecsContent_Search">
                        Tìm kiếm phiếu nhập
                    </a>
                </h4>
            </div>
            <div id="collapseSpecsContent_Search" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form role="form" ng-submit="searchImport()">

                        <div class="row">
                            <div class="col-md-2"><label for="txtSearchInputFrom">Ngày nhập từ</label></div>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker-input" id="txtSearchInputFrom" ng-model="importSearchCriteria.fromDate" value="{{importSearchCriteria.fromDate}}" /><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2"><label for="txtSearchInputTo">Ngày nhập đến</label></div>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker-input" id="txtSearchInputTo" ng-model="importSearchCriteria.toDate" value="{{importSearchCriteria.toDate}}" /><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"><label for="txtSearchSpecId">Mã phiếu nhập</label></div>
                            <div class="col-md-4"><input type="text" class="form-control" id="txtSearchSpecId" ng-model="importSearchCriteria.importId" value="{{importSearchCriteria.importId}}" maxlength="20" /></div>
                        </div>

                        <button type="submit" class="btn btn-default">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseSpecsContent_Result">
                        Kết quả tìm kiếm
                    </a>
                </h4>
            </div>
            <div id="collapseSpecsContent_Result" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-hover table-curved">
                        <thead>
                            <tr class="info">
                                <th>#</th>
                                <th>Mã nhập</th>
                                <th>Ngày nhập</th>
                                <th>Người nhập</th>
                                <th>Số lượng</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="importList.length == 0">
                                <td colspan="6">
                                    <h4 class="text-warning text-center">
                                        Không có dữ liệu
                                    </h4>
                                </td>
                            </tr>
                            <tr ng-repeat="item in importList">
                                <td>{{$index + 1}}</td>
                                <td>{{item.ImportId}}</td>
                                <td>{{item.ImportDateDisplay}}</td>
                                <td>{{item.ImportUserId}}</td>
                                <td class="columnNumberImport">{{item.NumberImport}}</td>
                                <td class="columnAction">
                                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" ng-click="showImportDetail(item)">Chi tiết</button>
                                    <a href="{{getPrintUrl(item.ImportId)}}" class="btn btn-sm btn-primary active" role="button" target="_blank">Phiếu in</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
